In [1]:
from PyPDF2 import PdfReader

reader = PdfReader("part1.pdf")

In [2]:
import pandas as pd

In [3]:

df = pd.DataFrame(columns=['text', 'page_number'])

In [4]:
## for loop
text = []
number = []
for x in range(723):
    page = reader.pages[x]
    text.append(page.extract_text())
    number.append(x)
    #print(x)

In [11]:
text[700]

'lxxviii APPENDIX .\nTheauthor says,—And ’Abdu -l-hamíd IbnHamíd said,ontheauthority ofhisfather ,that\nwhen Músa penetrated intotheenemy\'s territory ,andwent beyond Saragossa ,hismenbegan\ntomurmur ,andsaid tohim,“Whither dost thou take us?Wehave gone farenough ;we\n“aresatisfied with thespoil wehave collected .”Towhich Músa answered ,“Did\'Okbah\n“IbnNáfi\'or\'Abdullah ever stopinthecareer oftheir conquests ?”Itmust beremarked\nthat,onhisentering Eastern Africa ,Músa hadbeen heard tosay,alluding tohisprede\ncessors incommand ,\'Okbah IbnNáfi\'and\'Abdullah ,“that they hadcertainly exposed\n“themselves toimminent peril,bypenetrating sofarintocountries where theyhadtomeet\n“enemies right andleft,infront andattheback,especially astheyhadnotwiththem aman\n“inwhom they could trust asafaithful andexperienced guide .”Sothatwhen hewasheard\ntoexpress theabove sentiments ,Hansh As-san’ání ,whowasatábi\',andoneofthemost\nvirtuous meninthearmy,came outoftheranks ,andtaking Músa\'s horse bythebridle ,thus\naddressed hisgeneral :“OAmír !Ihave heard theesay,thatupon oneoccasion \'Okbah Ibn\nNáfi\',whom Iknew,hadexposed himself andmen tocertain ruin bynothaving asure\nguide totakehimthrough theenemy\'s country .Itshall notbesowith thee,forIwillbe\nthyguide ,Iwillconduct thee wherever thou wishest togo,beittogooutofthisworld ,or\n“insearch ofconquests stillmore splendid andmore fraught withdanger thanthose which\n“Godhasalready granted thee.ButImust notconceal from thee thatIhave heard from\n“themouth ofthemen what thou never didst hear;they have filled their hands with\nplunder ,andnow they wish forrest."The author continues ,-When Músa heard\nHansh speak thus heburst outlaughing ,andsaid,“May God direct thee,OHansh !“andmake many Moslems likethee;"afterwhich heordered hismentomarch andreturnintoAndalus ,notwithout exclaiming first,“ByAllah !hadthemen chosen tofollow me,\n“Iwould haveledthem totheverywalls ofRome ,andGodwould ,Ihavenodoubt ,have\ngranted usthevictory .”66\n6\n66 »50\nMúsa quits Andalus .\nTheauthor ofthetradition says,—And they relate that’Abdu -r-rahmán IbnSalim ,who\nwasinAndalus with Músa ,toldthem “Músa stayed inAndalus theremainder ofthatyear\n“(93),and some months oftheyear 94;inthemeanwhile letters hadreached Al-walid ,\n“purporting ,“These are,0Commander oftheFaithful !notlikeconquests ;theyarelike\n“themeeting ofmankind onthedayofjudgment .\'Músa thenbegan hismarch ,taking\nalong withhimthesonsoftheGothic kings,andthesons oftheFrankish kings ,andan\n“immense booty ,consisting ofgold diadems ,andthefamous table,andtherichvases of\ngoldandsilver,andmany thousands ofmale andfemale slaves ,andjewels beyond compu\ntation ,andallsorts ofnovelties .Onthisoccasion theprincipal officers ofthearmy also\n“leftAndalus andaccompanied Músa .”\n50Seeasinilar adventure toldofTárik .Appendix D.,p.xlix.'

In [6]:
df = pd.DataFrame({'text': text,'page_number': number})

In [7]:
df

                                                  text  page_number
0    This is a reproduction of a library book that ...            0
1                                    32044 012 595 179            1
2                 VERI\nTAS\nHARVARD\nCOLLEGE\nLIBRARY            2
3                                                   39            3
4                                                                 4
..                                                 ...          ...
718                                                 ܀܀          718
719                                                             719
720                                                  1          720
721                                                 1>          721
722                                                 **          722

[723 rows x 2 columns]

In [10]:
#df.to_csv('spain_part_1.csv', index=True, header=True)